/* style.css */
body {width:800px; font-size: 1.2em; padding: 1em; margin: 0 auto; font-family: serif}
code {font-family: "Cascadia Code", Consolas, "SF Mono", "Melono",
 "Liberation Mono", Monospace, "DejaVu Sans Mono", monspace}
